<h1 class="mt-5">Page d'accueil du cours programmation web 2</h1>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fab fa-node-js fa-3x"></i></h1>
        <p>Travail pratique 2</p>
        <p>Utilisateur: <%= user.nom %></p>
        <% let gestion = user.roles.find(role => role == 'gestion') %>
        <% let admin = user.roles.find(role => role == 'admin') %>
        <%- include('./partiels/messages') %>
        <% if(admin){ %>
          <a href="/usagers/listeUsagers" class="btn btn-primary btn-block mb-2">Gestion des usagers</a>
        <% } %>
        <% if(gestion){ %>
          <a href="/livres" class="btn btn-primary btn-block mb-2">Affichage/Gestion les livres</a>
        <% }else{ %>
          <a href="/livres" class="btn btn-primary btn-block mb-2">Affichage des livres</a>
        <% } %>
        <a href="/usagers/logout" class="btn btn-secondary btn-block">Se déconnecter</a>
      </div>
    </div>
  </div>